 /* 首页文章卡片 */
 #recent-posts>.recent-post-item {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 首页侧栏卡片 */
 .card-widget {
   background: rgba(255, 255, 255, 0.8) !important;
 }

 /* 文章页面正文背景 */
 div#post {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 分页页面 */
 div#page {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 归档页面 */
 div#archive {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 标签页面 */
 div#tag {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 分类页面 */
 div#category {
   background: rgba(255, 255, 255, 0.8);
 }

 /* 页脚透明 */
 #footer {
   background: transparent !important;
 }

 /* 头图透明 
#page-header{
  background: transparent!important;
}*/
 /*白天模式伪类遮罩层透明*/
 [data-theme="light"] #footer::before {
   background: transparent !important;
 }

 /*夜间模式伪类遮罩层透明*/
 [data-theme="dark"] #footer::before {
   background: transparent !important;
 }

 [data-theme="dark"] #page-header::before {
   background: transparent !important;
 }

 /*夜间模式页面背景设置为半透明*/
 [data-theme="dark"] div.recent-post-item {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] #aside-content .card-widget {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] div#post {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] div#page {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] div#archive {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] div#tag {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 [data-theme="dark"] div#category {
   background: rgba(0, 0, 0, 0.5) !important;
 }

 /*阅读模式*/
 .read-mode #aside-content .card-widget {
   background: rgba(158, 204, 171, 0.5) !important;
 }

 .read-mode div#post {
   background: rgba(158, 204, 171, 0.5) !important;
 }

 /*夜间阅读模式*/
 [data-theme="dark"] .read-mode #aside-content .card-widget {
   background: rgba(0, 0, 0, 0.5) !important;
   color: #eeeeee;
 }

 [data-theme="dark"] .read-mode div#post {
   background: rgba(0, 0, 0, 0.5) !important;
   color: #9a7685;
 }

 /*hr:before {
        position: absolute;
        top: -10px;
        left: 5%;
        z-index: 1;
        color: var(--hr-before-color);
        content: '\f0fb';
        font-size: 20px;
       /*旋转效果 -webkit-animation: avatar_turn_around 1s linear infinite; -moz-animation: avatar_turn_around 1s linear infinite; -o-animation: avatar_turn_around 1s linear infinite; -ms-animation: avatar_turn_around 1s linear infinite; animation: avatar_turn_around 1s linear infinite;
      }


/* 全局默认鼠标指针 
 body,
 html {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/NO.cur'), auto !important;
 }*/

 /* 悬停图片时的鼠标指针 
 img {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Help.cur'), auto !important;
 }*/

 /* 选择链接标签时的鼠标指针 
 a:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Arrow.cur'), auto;
 }*/

 /* 选中输入框时的鼠标指针 
 input:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/IBeam.cur'), auto;
 }*/

 /* 悬停按钮时的鼠标指针 
 button:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Hand.cur'), auto;
 }*/

 /* 悬停列表标签时的鼠标指针 
 i:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Arrow.cur'), auto;
 }*/

 /* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针
 #footer-wrap a:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Arrow.cur'), auto;
 }*/

 /* 悬停页码时的鼠标指针 
 #pagination .page-number:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/Arrow.cur'), auto;
 }*/

 /* 悬停菜单栏时的鼠标指针 
 #nav .site-page:hover {
   cursor: url('https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/c/UpArrow.cur'), auto;
 }*/


 /*鼠标1
 body {
   cursor: url(https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/b/loc.cur), auto;
 }

 .hide-block>.hide-button.open,
 .hide-inline>.hide-button.open {
   display: block
 }

 a,
 button,
 img {
   cursor: url(https://jsdelivr.pai233.top/gh/qxz23/cdn/cur/b/link.cur), auto
 }*/


 /*鼠标*/
 body {
   cursor: url(https://jsdelivr.pai233.top/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor1.png), auto;
 }

 .hide-block>.hide-button.open,
 .hide-inline>.hide-button.open {
   display: block
 }

 a,
 button,
 img {
   cursor: url(https://jsdelivr.pai233.top/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor2.png), auto
 }


 /* 滚动条样式 */
 ::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   background-color: rgba(0, 0, 0, 0.2);
 }

 ::-webkit-scrollbar-track {
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-image: -webkit-linear-gradient(90deg, #c471ed, #12c2e9, #dce31c, #f51b29);
 }

 ::-webkit-scrollbar-corner {
   background-color: transparent;
 }

 ::-moz-selection {
   color: rgb(32, 224, 48);
   background-color: #101110;
 }

 /*字体样式*/
 @font-face {
   font-family: 'tzy';
   /* 字体名自定义即可 */
   src: url('https://jsdelivr.pai233.top/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
   /* 字体文件路径 */
   font-display: swap;
 }

 body,
 .gitcalendar {
   font-family: tzy !important;
 }


 /*菜单栏居中
 #nav .menus_items {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
 }

 #nav .menus_items .menus_item {
   padding: 0;
   margin: 0 10px;
 }*/


 /*本地搜素安知鱼
 #local-search .search-dialog .local-search__hit-item:before {
   content: none !important;
 }

 #local-search .search-dialog .local-search__hit-item {
   padding: 10px !important;
   border-radius: 8px;
   border: var(--style-border);
   margin-bottom: 10px;
 }

 #local-search .tag-list {
   padding: 4px 8px;
   border-radius: 8px;
   margin-right: 0.5rem;
   margin-top: 0.5rem;
   border: var(--style-border);
   cursor: pointer;
 }

 #local-search .search-dialog .local-search__hit-item .tag-list {
   display: inline;
 }

 #local-search .search-dialog .local-search__hit-item .tag-list:hover {
   background: var(--anzhiyu-main);
   color: var(--anzhiyu-white);

 }*/

 /*文章题目*/
 [data-theme="dark"] #post-info .post-title {
   color: #0ff;
   text-shadow: 0 0 5px #fc199a, 0 0 10px rgb(252 25 154 / 49%);
 }


 [data-theme="dark"] #post-info #post-meta {
   color: rgb(0, 255, 255);
   text-shadow: 0 0 5px #000000, 0 0 10px rgba(0, 0, 0, 0.49);
 }

 [data-theme="dark"] #nav a {
   color: rgb(0, 255, 255);
   text-shadow: 0 0 5px #000000, 0 0 10px rgba(0, 0, 0, 0.49);
 }

 [data-theme="dark"] #page-header #site-title {
   margin: 0;
   color: #0ff;
   text-shadow: 0 0 5px #fc199a, 0 0 10px rgb(252 25 154 / 49%);
 }

 [data-theme="dark"] #page-header #site-subtitle {
   color: rgb(0, 255, 255);
   text-shadow: 0 0 5px #000000, 0 0 10px rgba(0, 0, 0, 0.49);
 }

 /**底部字体*/
 #footer-wrap {
   color: rgb(0, 255, 255);
   text-shadow: 0 0 5px #000000, 0 0 10px rgba(0, 0, 0, 0.49);
 }



 /* 侧栏最新文章板块图片圆角 与 各种圆角 */
 #aside-content.aside-content .aside-list-item .thumbnail img {
   border-radius: 15%;
 }

 div#local-search div.search-dialog {
   border-radius: 25px;
 }

 div#post nav#pagination div.prev-post img.prev-cover {
   border-radius: 25px;
 }

 div#post div.relatedPosts div.relatedPosts-list img.cover {
   border-radius: 25px;
 }

 .relatedPosts>.relatedPosts-list>div {
   border-radius: 25px;
 }

 #pagination.pagination-post {
   border-radius: 25px;
 }



 /*
#aside-content > .card-widget.card-info {
  background: linear-gradient(-45deg, #425aef, #031764, #150136, #67044d);
  background-size: 400%;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  animation: gradient 15s ease infinite;
  position: relative;
  color: #fff;
}
.site-data > a .headline,
.site-data > a .length-num {
  color: #fff;
}*/



 /*导航栏*/
 #nav a:hover {
   background: rgb(43, 182, 182);
   transition: 0.3s;
 }

 #nav-totop:hover .totopbtn i {
   opacity: 1;
 }

 #nav-totop #percent {
   font-size: 12px;
   background: rgb(255, 255, 255);
   color: rgb(43, 182, 182);
   width: 25px;
   height: 25px;
   border-radius: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s;
 }

 .nav-fixed #nav-totop #percent,
 .page #nav-totop #percent {
   background: #4c4948;
   color: #fff;
 }

 #nav-totop {
   width: 35px;
 }

 #page-header:not(.is-top-bar) #percent {
   transition: 0.3s;
 }

 #page-header:not(.is-top-bar) #nav-totop {
   width: 0;
   opacity: 0;
   transition: width 0.3s, opacity 0.2s;
   margin-left: 0 !important;
 }

 #nav-totop #percent {
   font-weight: 700;
 }

 #nav-totop:hover #percent {
   opacity: 0;
   transform: scale(1.5);
   font-weight: 700;
 }

 .nav-fixed #nav-totop #percent,
 .page #nav-totop #percent {
   font-size: 13px;
 }

 #page-header #nav #nav-right div {
   margin-left: 0.5rem;
   padding: 0;
 }

 #nav-totop {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
 }

 .nav-button {
   cursor: pointer;
 }

 div#menus {
   display: flex;
   align-items: center;
 }

 #page-header #nav .nav-button a {
   height: 35px;
   width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 #nav .site-page {
   padding-bottom: 0px;
 }

 #nav *::after {
   background-color: transparent !important;
 }

 /* 顶栏修改 */
 #nav .menus_items .menus_item .menus_item_child li:hover a {
   color: white !important;
 }

 #nav .menus_items .menus_item .menus_item_child li {
   margin: 6px;
   border-radius: 5px !important;
   transition: all 0.3s;
 }

 #site-name,
 .shuoshuo {
   white-space: nowrap;
   overflow: hidden;
 }

 #site-name {
   padding: 0 8px;
   position: relative;
 }

 #site-name *:not(i):hover {
   display: none !important;
 }

 #blog_name #site-name:hover::after {
   opacity: 1;
   transform: scale(1.01);
 }

 #blog_name #site-name::after {
   opacity: 0;
   background-color: rgb(21, 178, 178) !important;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   content: '\f015';
   box-shadow: 0 0 5px rgb(21, 178, 178);
   font-family: 'Font Awesome 6 Free';
   text-align: center;
   color: white;
 }

 #site-name i {
   position: absolute;
   top: 50%;
   left: 50% !important;
   transform: translate(-50%, -50%);
   left: 0;
   opacity: 0;
 }

 #site-name:hover i {
   opacity: 1;
 }

 /* 横向排布子菜单 */
 #nav .menus_items .menus_item .menus_item_child li {
   display: inline-block;
 }

 /* 圆角隐藏 */
 ul.menus_item_child {
   overflow: hidden;
   border-radius: 5px;
 }

 /* 一级菜单居中 */
 #nav .menus_items {
   position: absolute;
   width: fit-content;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 60px;
 }

 #nav .menus_items .menus_item:hover .menus_item_child {
   display: block;
   transform: translateX(-50%);
   right: auto;
   left: auto !important;
 }

 #nav .menus_items .menus_item:hover {
   padding: 0 5px 27px 5px !important;
   margin-bottom: -15px !important;
 }

 #nav .menus_items .menus_item .menus_item_child {
   top: 44px;
 }

 @media screen and (min-width: 768px) {
   .page .menus_item:hover>a.site-page {
     color: rgb(255, 255, 255) !important;
     background: rgb(43, 182, 182);
     transition: 0.3s;
     box-shadow: rgb(31, 95, 158);
   }
 }

 #nav .menus_items .menus_item:hover .menus_item_child {
   padding: 6px 4px;
   box-sizing: content-box;
   line-height: 35px;
 }

 #nav .menus_items .menus_item .menus_item_child li {
   margin: 0 3px;
 }

 #nav .menus_items .menus_item .menus_item_child li a {
   padding: 0px 16px;
 }

 .nav-fixed #nav {
   transform: translateY(58px) !important;
   -webkit-transform: translateY(58px) !important;
   -moz-transform: translateY(58px) !important;
   -ms-transform: translateY(58px) !important;
   -o-transform: translateY(58px) !important;
 }

 #nav {
   padding: 0 calc((100% - 1420px) / 2);
   transition: 0.3s;
   background: rgb(255, 255, 255);
   backdrop-filter: saturate(180%) blur(20px);
   transition: none !important;
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
 }

 #nav a {
   border-radius: 8px;
   color: #4c4948;
 }

 .page #nav a:hover {
   color: rgb(255, 255, 255) !important;
   background: rgb(43, 182, 182);
   transition: 0.3s;
   box-shadow: rgb(31, 95, 158);
 }

 #menus>div.menus_items>div>a {
   letter-spacing: 0.3rem;
   font-weight: 700;
   padding: 0em 0.3em 0em 0.5em;
   height: 35px;
 }

 #nav .menus_items .menus_item {
   padding: 0 5px;
   display: flex;
   flex-direction: column;
   margin: auto;
   align-items: center;
 }

 #menus>div.menus_items>div>a {
   line-height: 35px;
 }

 #page-header #nav a:hover,
 #page-header.nav-fixed #nav a:hover,
 #page-header.nav-fixed #nav #site-name:hover,
 #page-header.nav-fixed #nav #toggle-menu:hover {
   color: rgb(255, 255, 255);
   font-weight: bold;
 }

 #page-header.nav-fixed #nav a,
 #page-header.nav-fixed #nav #site-name,
 #page-header.nav-fixed #nav #toggle-menu {
   font-weight: bold;
 }

 #nav-totop .totopbtn i {
   position: absolute;
   display: flex;
   opacity: 0;
 }

 #page-name::before {
   font-size: 18px;
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 8px;
   color: white !important;
   top: 0;
   left: 0;
   content: '回到顶部';
   background-color: rgb(21, 178, 178);
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   opacity: 0;
   box-shadow: 0 0 3px rgb(21, 178, 178);
   line-height: 45px;
   /*如果垂直位置不居中可以微调此值，也可以删了*/
 }

 #page-name:hover:before {
   opacity: 1;
 }

 #name-container {
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
 }

 #name-container:hover {
   transform: translateX(-50%) scale(1.03);
 }

 #page-name {
   position: relative;
   padding: 10px 30px;
 }

 center#name-container {
   position: absolute;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   font-family: 'ZhuZiAYuanJWD';
 }

 .nav-fixed.nav-visible #name-container {
   top: 60px;
   transition: 0.3s;
 }

 .nav-fixed.nav-visible #menus .menus_items {
   bottom: -0px;
   transition: 0.3s;
   line-height: 60px;
 }

 .nav-fixed #menus .menus_items {
   bottom: 60px;
   transition: 0.3s;
 }

 .nav-fixed #name-container {
   top: 15%;
   transition: 0.3s;
 }

 #name-container {
   bottom: 60px;
 }

 .mask-name-container {
   width: 1200px;
   height: 100%;
   position: absolute;
   overflow: hidden;
   left: 50%;
   transform: translateX(-50%);
 }

 @media screen and (max-width: 768px) {
   .mask-name-container {
     width: 600px;
   }
 }

 @media screen and (max-width: 500px) {
   .mask-name-container {
     display: none;
   }
 }

 #sidebar #sidebar-menus .menus_items .site-page:hover {
   color: rgb(255, 255, 255);
   border-radius: var(--sevene-border-radius);
 }

 #nav .menus_items .menus_item>a>i:last-child {
   display: none;
 }

 #nav #search-button {
   font-size: 1.3em;
 }

 #page-header.not-top-img #nav .back-home-button {
   color: var(--sevene-fontcolor);
 }

 @media screen and (min-width: 900px) {
   #nav .back-home-button:hover {
     box-shadow: rgb(31, 95, 158);
   }
 }

 .back-home-button:hover {
   background: rgb(43, 182, 182);
   color: rgb(255, 255, 255) !important;
 }

 .back-home-button {
   display: flex;
   width: 35px;
   height: 35px;
   padding: 0 !important;
   align-items: center;
   justify-content: center;
   margin-right: 4px;
   transition: 0.3s;
   border-radius: 8px;
   color: rgb(255, 255, 255);
 }

 .back-home-button:hover .back-menu-list-groups {
   display: flex;
   opacity: 1;
   transition: 0.3s;
   top: 55px;
   pointer-events: auto;
   left: 0;
 }

 .back-home-button .back-menu-list-groups {
   position: absolute;
   top: 65px;
   left: 0;
   background: var(--anzhiyu-card-bg);
   border-radius: 12px;
   border: var(--style-border);
   flex-direction: column;
   font-size: 12px;
   color: var(--anzhiyu-secondtext);
   box-shadow: var(--anzhiyu-shadow-border);
   transition: 0s;
   opacity: 0;
   pointer-events: none;
 }

 .back-home-button .back-menu-list-group {
   display: flex;
   flex-direction: column;
 }

 .back-home-button .back-menu-list-group .back-menu-list-title {
   margin: 8px 0 0 16px;
   transition: 0.3s;
 }

 .back-home-button .back-menu-list {
   display: flex;
   flex-direction: column;
 }

 .back-home-button .back-menu-list::before {
   position: absolute;
   top: -22px;
   left: 0px;
   width: 100%;
   height: 25px;
   content: '';
 }

 .back-home-button .back-menu-list-group:hover .back-menu-list-title {
   color: rgb(43, 182, 182);
 }

 .back-home-button .back-menu-list-groups:hover {
   border: var(--style-border-hover);
 }

 .back-home-button .back-menu-list .back-menu-item {
   display: flex;
   align-items: center;
   margin: 4px 8px;
   padding: 4px 8px !important;
   transition: 0.3s;
   border-radius: 8px;
 }

 .back-home-button .back-menu-list .back-menu-item .back-menu-item-text {
   font-size: var(--global-font-size);
   margin-left: 0.5rem;
   color: var(--sevene-fontcolor);
   white-space: nowrap;
 }

 #nav #blog_name {
   flex-wrap: nowrap;
   height: 60px;
   display: flex;
   align-items: center;
   /* z-index: 102; */
   transition: 0.3s;
 }

 .back-home-button .back-menu-list .back-menu-item .back-menu-item-icon {
   width: 24px;
   height: 24px;
   border-radius: 24px;
   background: var(--sevene-secondbg);
 }

 #page-header #nav .back-home-button {
   color: var(--sevene-fontcolor);
   cursor: pointer;
   position: relative;
 }

 .page #nav a:hover {
   color: rgb(255, 255, 255) !important;
   background: rgb(43, 182, 182);
   transition: 0.3s;
   box-shadow: var(--anzhiyu-shadow-main);
 }

 @media screen and (min-width: 1300px) {
   #nav a:hover {
     transform: scale(1.03);
   }
 }

 .back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
   color: rgb(255, 255, 255);
 }

 .back-menu-item-icon.loading img {
   width: 25px;
 }

 [data-theme="light"] .back-home-button .back-menu-list-groups {
   /*控制左上角的菜单的颜色背景*/
   --anzhiyu-card-bg: rgb(246, 97, 194, 0.8);
 }

 [data-theme="dark"] .back-home-button .back-menu-list-groups {
   /*控制左上角的菜单的颜色背景*/
   --anzhiyu-card-bg: rgba(75, 74, 74, 0.8);
 }

 [data-theme="light"] #rightMenu .rightMenu-group .rightMenu-item {
   color: rgb(1, 1, 1);
 }

 [data-theme="dark"] #rightMenu .rightMenu-group .rightMenu-item {
   color: white;
 }

 :root {
   --lyx-theme: rgb(21, 178, 178);
   /*我的主题色*/
   /*控制左上角的菜单的颜色字体*/
   --sevene-white: rgb(255, 255, 255);
   /*控制左上角的菜单的选择时颜色背景*/
   --sevene-main: rgb(43, 182, 182);
   --sevene-shadow-main: rgb(31, 95, 158);
   --anzhiyu-maskbgdeep: rgb(255, 255, 255);
   --sevene-border-radius: 30px;
 }


 /*顶部加载进度条*/
 .pace {
   pointer-events: none;
   user-select: none;
   z-index: 2;
   position: fixed;
   margin: auto;
   top: 4px;
   left: 0;
   right: 0;
   height: 8px;
   border-radius: 8px;
   width: 6rem;
   background: #eaecf2;
   overflow: hidden;
 }

 .pace-inactive .pace-progress {
   opacity: 0;
   transition: 0.3s ease-in;
 }

 .pace.pace-inactive {
   opacity: 0;
   transition: 0.3s;
   top: -8px;
 }

 .pace .pace-progress {
   box-sizing: border-box;
   transform: translate3d(0, 0, 0);
   position: fixed;
   z-index: 2;
   display: block;
   position: absolute;
   top: 0;
   right: 100%;
   height: 100%;
   width: 100%;
   background: #ffffff;
   background: linear-gradient(to right,
       rgb(78, 255, 243),
       rgb(239, 21, 255),
       rgb(250, 250, 39));
   animation: gradient 2s ease infinite;
   background-size: 200%;
 }